In [1]:
# ANS 1:- A database is an organized collection of data stored in a computer system and usually controlled by a
# database management system (DBMS). The data in common databases is modeled in tables, making querying and processing
# efficient. Structured query language (SQL) is commonly used for data querying and writing.

In [5]:
# DIFFERENCE BETWEEN SQL AND NOSQL
# SQL : RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
# These databases have fixed or static or predefined schema
# These databases are not suited for hierarchical data storage.
# These databases are best suited for complex queries
# Vertically Scalable
# NOSQL : Non-relational or distributed database system.
# They have a dynamic schema
# These databases are best suited for hierarchical data storage.
# These databases are not so good for complex queries
# Horizontally scalable

In [6]:
# ANS 2:-
# DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database 
# schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of
# database objects in the database.

# CREATE : Create database or its objects (table, index, function, views, store procedure, and triggers)	
# DROP : Delete objects from the database
# ALTER : Alter the structure of the database
# TRUNCATE : Remove all records from a table, including all spaces allocated for the records are removed

In [7]:
# ANS 3:- 
# The SQL commands that deal with the manipulation of data present in the database belong to DML or Data Manipulation
# Language and this includes most of the SQL statements. 
# INSERT : Insert data into a table
# UPDATE : Update existing data within a table
# DELETE : Delete records from a database table

In [8]:
# ANS 4 :-
# DQL (Data Query Language), DQL statements are used for performing queries on the data within schema objects.
# SELECT : It is used to retrieve data from the database

In [9]:
# ANS 5:-
# A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values.
# Example: STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen
# as the primary key (only one out of many candidate keys).
# A foreign key is a column or group of columns in a relational database table that provides a link between data
# in two tables.
# Example: STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

In [10]:
# ANS 6:- import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists my_database")
mydb.close()

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE Table my_database.my_table(c1 VARCHAR(20) , c2 INT)")
mydb.close()

<class 'NameError'>: name 'mysql' is not defined